div {
	/*border: 1px solid black;*/
}
.marker {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	/*padding: 5px;*/
	border-top: 2px solid #333;
	opacity: 0.1;
	color: #888;
}

.intro-content {
	width: 960px;
	margin: 0 auto;
}

.scroll-content {
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.chapter-container {
	/*display: inline-block;*/
	/*border: 1px solid red;*/
	width: 50%;
}

.chapter {
	margin-top: 100px;
	margin-bottom: 100px;
	/*margin-bottom: calc(40vh);*/
	padding: 0;
	padding-top: 250px;
	padding-bottom: 250px;
	border: 1px solid blue;
	/*padding-left: 10px;*/
	/*padding-right: 30px;*/

	font-size: 1em;
	font-family: Helvetica, Verdana, sans-serif;
	color: black;
}

#scroll-vis {
	/*flex-grow: 2;*/
	/*float: right;*/
	/*right: 0;*/
	/*top: 50%;*/
	position: fixed;
	top: calc(50vh - 260px);
	width: 520px;
	height: 520px;
	left: calc(100vw - 960px + 260px);
}
