html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: calc(100vh);
}

body {
	
}

.container {
	min-height:100%;
  position:relative;
}


.hero-header {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 100%);
  clip-path:         polygon(0 0, 100% 0, 100% 45%, 0 100%);

  background-color: #ff6600;
  height: 140px;
  color: white;
}

.my-name {
	float: left;
	padding: 30px;
	font-size: 3.5em;
	font-family: "Dosis", Helvetica;
	text-shadow: 0 1px 0 color;

}

.nav {
	float: right;
	font-family: "Dosis", Helvetica;
	padding: 15px;
	padding-right: 30px;
}

.nav div {
	padding: 5px;
}

.nav a {
	text-decoration: none;
	color: white;
}

.hero-footer {
	position:absolute;
  bottom:0;
	width: 100%;
	font-family: "Dosis", Helvetica;
	-webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 75% 100%);
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 75% 100%);
	
  background-color: #0099ff;
  height: 250px;
  color: white;
}

.footer-info {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	padding-top: 90px;
	color: white;
}

.footer-info a {
	color: white;
	text-decoration: none;
}

.footer-info div {
	padding: 5px;
	padding-bottom: 0;
	margin: 0;
}

.hero-content {
	width: 960px;
	margin: 0 auto;
	flex: 1 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.item {
	margin: 0;
	padding: 15px;
	padding-bottom: 5px;
	line-height: 1.5em;
	margin-bottom: 5px;
	height: 130px;
}

.item a {
	text-decoration: none;
}

.item a:hover {
	text-decoration: underline;
}

.item p {
	margin: 0;
	padding: 0;
	color: #555;
	font-size: 18px;
	font-family: "PT Serif", serif;
}

.preview {
	margin: 0;
	padding: 0;
  object-fit: cover;
  width: 440px;
  height: 95px;
  border: 1px solid #bbb;
}

a:hover {
	text-decoration: underline;
}

.about-nav, .portfolio-nav {
	border: 1px solid transparent;
	text-align: center;
}

.active-link {
	border: 1px dashed white;
	
}

a {
	outline: 0;
}

a:hover, a:active, a:focus {
  /* styling for any way a link is about to be used */
}



a:active {
	color: #999;
}
